.paras {
    color:brown;
    font-size:large;
    font-family:'Times New Roman', Times, serif;
}
.shadow-text {
    text-shadow:2px 2px 5px gray;
}

.Button{
    transition: background-color 0.3s ease;
}

Button:hover{
    background-color: blueviolet;
    transform:scale(1.1);
    animation: gentle-shake 0.4s ease-in-out;
}
#highlight{
    background-color: yellow;
}
@keyframes gentle-shake{
  0%   { transform: translateX(0); }
  25%  { transform: translateX(-3px); }
  50%  { transform: translateX(3px); }
  75%  { transform: translateX(-2px); }
  80%   {transform: translateX(100px);}
  90% {transform: translateY(120px);}
  100% { transform: translateX(0); }
}